.back-to-top {
    position: fixed;
    bottom: 50px;
    right: 20px;
    display: inline-block;
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    z-index: 1000;
    transition: opacity 0.4s;
  }
  
  .back-to-top:hover {
    background-color: #0056b3;
  }
  